<!DOCTYPE html>
<head>
	<title>Apple Apps Search</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href = "css/bootstrap.css" rel = "stylesheet">
		<link href = "css/CustomCss.css" rel = "stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js" type="text/javascript"></script>
	<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.min.js"></script>-->
	<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src = "js/bootstrap.js"></script>
	<script src="jsAngular/app.js" type="text/javascript"></script>
	<script src="jsAngular/maincontroller.js" type="text/javascript"></script>
	<script src="jsAngular/Service.js" type="text/javascript"></script>
	<script src="jsAngular/filter.js" type="text/javascript"></script>
	
	
</head>
<body  ng-app='MyApp' ng-controller='Controller2' ng-init="init()">
<div class = "navbar navbar-inverse navbar-static-top">
			<div class = "container">
				<a href = "?"><img src="Img/applelogo.jpg" class="AppleLogo img-responsive pull-left"></a>
				<a href = "?" class = "navbar-brand" >App Search</a>
				<!-- <div class="row"> -->
  <div class="col-lg-6 col-md-4 col-sm-6">
    <div class="input-group MidHeight">
      <input type="text" class="form-control " placeholder="Search software,movies,tvshows,ebook" ng-model='AppNameToSearch' ng-keyup="search()">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="search()"><span class="glyphicon glyphicon-search"></span></button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->

				
				
				<div class = "nav navbar-nav navbar-right MidHeight">
				<select class="dropdown" ng-model='selectedMedia' ng-change="search()">
			     <option ng-repeat='media in medias'>{{media}}</option>
		        </select>

		        <select class="dropdown" ng-model='selectedCountry' ng-change="search()">
                <option ng-repeat='country in countries'>{{country}}</option>
                </select>
                
		        
		</div>
	</div>
</div>

<div id='content'  class="container">
	
<div class="container" >
    <div class="row" >
  <div class="col-md-2 col-sm-2" >
  <select ng-model='selectedGenre' class="form-control">
			<option ng-repeat='genre in genres'>{{genre}}</option>
		</select>
  
  </div>
  <div class="col-md-2 col-sm-2 col-sm-offset-3 col-lg-offset-3 col-md-offset-3" >
  <select ng-model='selectedPrice' class="form-control">
			<option ng-repeat='selectedPrice in prices'>{{selectedPrice}}</option>
  </select>
  </div>
  <div class="col-md-2 col-sm-2 col-sm-offset-3 col-lg-offset-3 col-md-offset-3" ><input type="text" class="form-control" ng-model='filterText' placeholder="Enter keyword"/></div>
    </div><!-- row -->
</div><!-- container -->

<div ng-repeat="val in output.results| FreePaidFilter:selectedPrice |GenreFilter:selectedGenre:selectedMedia|filter:filterText" class="container block">
<div ng-show="(output.results| FreePaidFilter:selectedPrice |GenreFilter:selectedGenre:selectedMedia|filter:filterText).length==0">Your search criteria doesnot match any result</div>
<div 
    ng-switch on="selectedMedia">
      <div ng-switch-when="software">
      <div class="row" ng-include ="'software.html'">

</div><!-- row -->
      </div><!-- software div -->
      <div ng-switch-when="movie" >
      <div class="row" ng-include ="'movies.html'">
	
</div><!-- row -->
      </div><!-- movie div -->


       <div ng-switch-when="tvShow">
      <div class="row" ng-include ="'tvshows.html'">
	
</div><!-- row -->
      </div><!-- tvShow div -->

       <div ng-switch-when="ebook">
      <div class="row" ng-include src="'ebook.html'">
	
</div><!-- row -->
      </div><!-- ebook div -->

      <div ng-switch-default>default</div>
  </div>

</div><!-- container block -->

<div ng-show="AppNameToSearch==NULL" style="margin-top:15%">
<p class="text-center" style="color:#CCA37A">
This website allows you to search for content within the iTunes Store, App Store, iBooks Store and Mac App Store. You can 
search for a variety of content; including apps, iBooks, movies, and TV shows.You can filter the results based on Genres 
and Free and Paid options in two dropdowns.Also,You can filter the results with particular keyword.</p>

<p class="text-center" style="color:#CCA37A">This website is developed in AngularJS, Bootstrap,CSS3,HTML5. Live appstore API has been consumed in this application to 
fetch the search results.</p>

</div>

<div ng-show="(output.results| FreePaidFilter:selectedPrice |GenreFilter:selectedGenre:selectedMedia|filter:filterText).length==0 " style="margin-top:20%"><h3 class="text-center" style="color:red"><i>Your search criteria doesnot match any result</i></h3></div>

</div><!-- content -->

<div class = "navbar navbar-default navbar-fixed-bottom">

			<div class = "container">
				<p class = "navbar-text pull-left">By <b>Shalini Ajay</b> &copy;2014 All rights reserved.</p>
				<!-- <p class = "navbar-text pull-left"><p>copy;Shalini Ajay,All rights reserved</p> -->
				<a href="http://au.linkedin.com/in/shaliniajay/" target="_blank"><img src="Img/LinkedIn1.jpg" class = "img img-responsive pull-right linkedinIMG "></a>
			</div>

		</div>
<script type="text/ng-template" id="software.html">
	<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
	<div class="row"><img src="{{val.artworkUrl512}}" class="img-responsive imagediv" /></div>
	<div class="row" style="margin-left:25px;margin-bottom:10px"><button class="btn btn-default">{{val.formattedPrice}}</button></div>
	</div>
	<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
	<div style="margin-left:50px;margin-right:25px ;margin-bottom:10px">
	<div class="row"><h3>{{val.trackCensoredName}}</h3></div>
	<div class="row"><h6>By <b>{{val.artistName}}..</b></h6></div>
	<div class="row">
	 <a href="#" ng-model="collapsed" ng-click="collapsed=!collapsed">More Info
	 <span ng-show="!collapsed" class="glyphicon glyphicon-chevron-right"></span>
	 <span ng-show="collapsed" class="glyphicon glyphicon-chevron-down"></span>
	 </a>

    <div ng-show="collapsed">
    <p><b>Size:</b>{{val.fileSizeBytes/1048576| number:2}} MB</p>
    <p><b>User Rating : </b>{{val.averageUserRating}}</p>
    </div>
   
    </div>
	<!-- <div class="row pull-right"><a class="btn btn-primary" href="itms://ax.itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id={{val.trackId}}" >View in itunes<span class="glyphicon glyphicon-chevron-right"></span></a></div> -->
	<div class="row"><a class="btn btn-primary" href="{{val.trackViewUrl}}" target="_blank">Go to official site<span class="glyphicon glyphicon-chevron-right"></span></a></div>
	</div>
	</div>
</script>

<script type="text/ng-template" id="movies.html">
	<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
	<div class="row"><img src="{{val.artworkUrl100}}" class="img-responsive imagediv"/></div>
	<div class="row" style="margin-left:25px;margin-bottom:10px"><button class="btn btn-default">{{val.collectionPrice|currency}}</button></div>
	</div>
	<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
	<div style="margin-left:50px;margin-right:25px; margin-bottom:10px">
	<div class="row"><h3>{{val.trackCensoredName}}</h3></div>
	<div class="row"><h6>By <b>{{val.artistName}}..</b></h6></div>
	<div class="row">
	<a href="#"  ng-click="collapsed=!collapsed">More Info
	 <span ng-show="!collapsed" class="glyphicon glyphicon-chevron-right"></span>
	 <span ng-show="collapsed" class="glyphicon glyphicon-chevron-down"></span>
	 </a>

    <div ng-show="collapsed" >
    <p><b>Time:</b>{{val.trackTimeMillis/60000| number:0}} min</p>
    <p><b>Content Advice : </b>{{val.contentAdvisoryRating}}</p>
    </div>
   
    </div>
	<!-- <div class="row"><a class="btn btn-primary" href="itms://ax.itunes.apple.com/WebObjects/MZStore.woa/wa/viewtrack?id={{val.trackId}}" >View in itunes<span class="glyphicon glyphicon-chevron-right"></span></a></div> -->
	<div class="row"><a href="{{val.trackViewUrl}}" class="btn btn-primary" target="_blank">Go to official site<span class="glyphicon glyphicon-chevron-right"></span></a></div>
	</div>
	</div>
</script>

<script type="text/ng-template" id="ebook.html">
	<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
	<div class="row"><img src="{{val.artworkUrl100}}" class="img-responsive imagediv"/></div>
	<div class="row" style="margin-left:25px;margin-bottom:10px"><button class="btn btn-default">{{val.currency}} {{val.price}}</button></div>
	</div>
	<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
	<div style="margin-left:50px;margin-right:25px;margin-bottom:10px">
	<div class="row"><h3>{{val.trackCensoredName}}</h3></div>
	<div class="row"><h6>By <b>{{val.artistName}}..</b></h6></div>
	<div class="row">
	 <a href="" ng-model="collapsed" ng-click="collapsed=!collapsed">More Info
	 <span ng-show="!collapsed" class="glyphicon glyphicon-chevron-right"></span>
	 <span ng-show="collapsed" class="glyphicon glyphicon-chevron-down"></span>
	 </a>

    <div ng-show="collapsed">
    <p><b>Size:</b>{{val.fileSizeBytes/1048576| number:2}} MB</p>
    <p><b>User Rating : </b>{{val.averageUserRating}}</p>
    </div>
   
    </div>
	<div class="row"><a href="{{val.trackViewUrl}}" target="_blank" class="btn btn-primary">Go to official site<span class="glyphicon glyphicon-chevron-right"></span></a></div>
	</div>
	</div>
</script>

<script type="text/ng-template" id="tvshows.html">
	<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
	<div class="row"><img src="{{val.artworkUrl100}}" class="img-responsive imagediv"/></div>
	<div class="row" style="margin-left:25px;margin-bottom:10px"><button class="btn btn-default">{{val.collectionPrice|currency}}</button></div>
	</div>
	<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
	<div style="margin-left:50px;margin-right:25px;margin-bottom:10px">
	<div class="row"><h3>{{val.trackCensoredName}}</h3></div>
	<div class="row"><h6>{{val.longDescription}}</h6></div>
	<div class="row"><h6>{{val.collectionName}}<span class="glyphicon glyphicon-chevron-right"></span></h6></div>
	<div class="row">
	 <a href="" ng-model="collapsed" ng-click="collapsed=!collapsed">More Info
	 <span ng-show="!collapsed" class="glyphicon glyphicon-chevron-right"></span>
	 <span ng-show="collapsed" class="glyphicon glyphicon-chevron-down"></span>
	 </a>

    <div ng-show="collapsed">
    <p><b>Time:</b>{{val.trackTimeMillis/60000| number:0}} min</p>
    <p><b>Content Advice : </b>{{val.contentAdvisoryRating}}</p>
    </div>
    </div>
	<div class="row"><a href="{{val.trackViewUrl}}" target="_blank" class="btn btn-primary">Go to official site<span class="glyphicon glyphicon-chevron-right"></span></a></div>
	</div>
	</div>
</script>


</body>
</html>
